.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navApp {
  background-color:#9b9b9b;
}

.card-body {
  background-color: #cce7f7;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(233, 148, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pgraph {
  font-size: 20px;
}

.container {
  background-color:#9b9b9b;
  text-align:left;
}

.containerTwo {
  background-color:#9b9b9b;
  text-align:center;
}


.work {
  box-shadow: 7px 7px 5px rgb(92, 91, 91);
  background-color: rgb(71, 81, 85);
  color: #cce7f7;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(233, 148, 0);
}

.work:hover {
  transform: scale(1.1);
}

.portfolioApp {
  background-color: #9b9b9b;
}

.aboutApp {
  background-color: #9b9b9b;
}

.body {
  background-color:#9b9b9b;
}

.card-header {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pic {
  border-width: 3px;
  border-style: solid;
  border-color: rgb(233, 148, 0);
}